{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">
            {{ page_title }}
        </h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
<p>
    The Device and Configuration data below comes directly from the Main Sever via bulk updates.  To get the latest data, click the link below
    to perform a full update.
</p>
<p>
    <a href="{% url get_bulk_configs %}" class="bulk_update">Bulk Configuration Update</a>&nbsp;&nbsp;<br />
    Last Run: {{ last_successful_update|date:"M j, Y, g:i a" }}
</p>

<table class="all_devices data_table">
    <tr>
        <th>Device ID</th>
        <th>
            Configuration<br />
            <span class="small">Click to View Details</span>
        </th>
        <th>
            Last Updated<br />
            <span class="small">Via Bulk Updates</span>
        </th>
    </tr>
    {% for device in devices %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td><a href="{% url show_device device.device_id %}">{{ device.device_id }}</a></td>
            <td><a href="{% url show_config device.config.id %}">{{ device.config }}</a></td>
            <td>{{ device.last_updated|date:"M j, Y, g:i a" }}</td>
        </tr>
    {% empty %}
        <tr class="even">
            <td colspan="3">
                <p class="center">
                    No Devices Found.  Please perform a <a href="{% url get_bulk_configs %}">Bulk Update</a>.
                </p>
            </td>
        </tr>
    {% endfor %}
</table>

<p class="actions">
    <strong>Actions:</strong>&nbsp;
    <a href="{% url new_device %}">+&nbsp;Add New Device</a>
</p>

{% endblock %}
