{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">
            {{ page_title }}<br />
            <span class="breadcrumbs">
                <a href="{% url show_all_devices %}">All Devices</a>
                &raquo;
                View Device: {{ device }}
            </span>
        </h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
<table class="device_table">
    <tr>
        <th>Device ID:</th><td>{{ device.device_id }}</td>
    </tr>
    <tr>
        <th>Device Name:</th><td>{{ device.device_name }}</td>
    </tr>
    <tr>
        <th>XML Configuration:</th>
        <td>
            {% if device.config %}
                <a href="{% url show_config device.config.id %}">{{ device.config }}</a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Last Updated:</th>
        <td>{{ device.last_updated|date:"M j, Y, g:i a" }}</td>
    </tr>
    <tr>
        <th>Config Request URL:</th>
        <td>
            <a href="{% url dump_device_config device.device_id 'test' 'test' %}">
                /configuration/{{ device.device_id }}/&lt;phone_software_version&gt;/&lt;current_config_version&gt;/
            </a>
        </td>
    </tr>
    <tr>
        <th>
            Last Config Request:
        </th>
        <td>{{ device.last_config_request|date:"M j, Y, g:i a" }}</td>
    </tr>
</table>

<p class="actions">
    <strong>Actions:</strong>&nbsp;
    <a href="{% url edit_device device.device_id %}">Edit Device</a>
</p>

{% endblock %}
