{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">
            {{ page_title }}<br />
            <span class="breadcrumbs">
                <a href="{% url show_all_devices %}">All Devices</a>
                &raquo;
                View Device: {{ device }}
            </span>
        </h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
<table class="device_table">
    <tr>
        <th>Device ID:</th><td>{{ device.device_id }}</td>
    </tr>
    <tr>
        <th>Device Name:</th><td>{{ device.device_name }}</td>
    </tr>
    <tr>
        <th>XML Configuration:</th>
        <td>
            {% if device.config %}
                <a href="{% url show_config device.config.id %}">{{ device.config }}</a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Last Updated:</th>
        <td>{{ device.last_updated|date:"M j, Y, g:i a" }}</td>
    </tr>
    <tr>
        <th>Config Request URL:</th>
        <td>
            <a href="{% url dump_device_config device.device_id 'test' 'test' %}">
                /configuration/{{ device.device_id }}/&lt;phone_software_version&gt;/&lt;current_config_version&gt;/
            </a>
        </td>
    </tr>
    <tr>
        <th>
            Last Config Request:
        </th>
        <td>{{ device.last_config_request|date:"M j, Y, g:i a" }}</td>
    </tr>
    <tr>
        <th>
            Config Requests:<br />
            <span class="smaller">(Last 10 Requests)</span>
        </th>
        <td>
            {% if config_requests %}
            <table class="config_requests_table tablesorter data_table">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Successful?</th>
                    <th>SW Version</th>
                    <th>Config Version</th>
                    <th>Served Config</th>
                    <th>Remote Addr</th>
                    <th>Remote Host</th>
                </tr>
                </thead>
                <tbody>
                {% for cr in config_requests %}
                <tr class="{% cycle 'even' 'odd' %}">
                    <td>{{ cr.request_date|date:"M j, Y, g:i a" }}</td>
                    <td class="center">
                        {% if cr.request_success %}
                            <span class="hide">Yes</span>
                            <img src="{{ MEDIA_URL }}images/icons/accept.png">
                        {% else %}
                            <span class="hide">No</span>
                            <img src="{{ MEDIA_URL }}images/icons/delete.png">
                        {% endif %}
                    </td>
                    <td>{{ cr.software_version }}</td>
                    <td>{{ cr.current_config_version }}</td>
                    <td>
                        {% if cr.served_config %}
                            <a href="{% url show_config cr.served_config.id %}">{{ cr.served_config }}</a>
                        {% else %}
                            {{ cr.served_config }}
                        {% endif %}
                    </td>
                    <td>{{ cr.request_remote_addr }}</td>
                    <td>{{ cr.request_remote_host }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                No configuration requests recorded.
            {% endif %}
        </td>
    </tr>
</table>

<p class="actions">
    <strong>Actions:</strong>&nbsp;
    <a href="{% url edit_device device.device_id %}">Edit Device</a>
</p>

{% endblock %}
