{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">
            {{ page_title }}<br />
            <span class="breadcrumbs">
                <a href="{% url show_all_configs %}">All Configurations</a>
                &raquo;
                {% if edit %}
                    <a href="{% url show_config config.id %}">View Configuration: {{ config.title }}</a>
                    &raquo;
                    Edit Configuration
                {% else %}
                    Add New Configuration
                {% endif %}
            </span>
        </h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}

{% if edit %}
    <form method="post" action="{% url edit_config config.id %}">
{% else %}
    <form method="post" action="{% url new_config %}">
{% endif %}
        {% csrf_token %}
        
        {% if edit %}
            {# So edit form still works while form changeover in progress. #}
            {{ form.as_p }}
        {% else %}
            {% include 'config/include/_config_settings_form.html' %}
            {% include 'config/include/_recording_schedule_form.html' %}
        {% endif %}
        
    
        <table class="form_table">
            <tr>
                <td colspan="2">
                    {% if edit %}
                        <input type="submit" value="Update Config" />
                        &nbsp;or&nbsp;
                        <a href="{% url show_config config.id %}">Cancel</a>
                    {% else %}
                        <input type="submit" value="Create Config" />
                        &nbsp;or&nbsp;
                        <a href="{% url show_all_configs %}">Cancel</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    
    </form>
{% endblock %}
