{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">
            {{ page_title }}<br />
            <span class="breadcrumbs">
                <a href="{% url show_all_configs %}">All Configurations</a>
                &raquo;
                View Config: {{ config.name }}
            </span>
        </h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
<table class="config_table">
    <tr>
        <th>Config Name:</th>
        <td>{{ config.name }}</td>
    </tr>
    <tr>
        <th>Version:</th>
        <td>{{ config.version }}</td>
    </tr>
    <tr>
        <th>Created Date:</th>
        <td>{{ config.created_date|date:"M j, Y, g:i a" }}</td>
    </tr>
    <tr>
        <th>Assigned to Devices:</th>
        <td>
            {% for d in config.get_devices %}
                <a href="{% url show_device d.device_id %}">
                    {{ d }}
                </a>{% if not forloop.last %},&nbsp;
                        {% if forloop.counter|divisibleby:"5" %}<br />{% endif %}
                    {% endif %}
            {% empty %}
                - 
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th colspan="2" class="noborder">XML Configuration:</th>
    </tr>
    <tr>
        <td colspan="2"><pre>{{ config.xml }}</pre></td>
    </tr>
</table>

<p class="actions">
    <strong>Actions:</strong>&nbsp;
    <a href="{% url edit_config config.id %}">Edit Configuration</a>
</p>

{% endblock %}
