{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

<table class="config_table">
    <tr>
        <th>Title:</th>
        <td>{{ config.title }}</td>
    </tr>
    <tr>
        <th>Version:</th>
        <td>{{ config.version }}</td>
    </tr>
    <tr>
        <th>Created Date:</th>
        <td>{{ config.created_date|date:"M j, Y, g:i a" }}</td>
    </tr>
    <tr>
        <th>Assigned to Devices:</th>
        <td>
            {% for d in config.get_devices %}
                <a href="{% url show_device d.device_id %}">
                    {{ d.device_id }}
                </a>{% if not forloop.last %},&nbsp;
                        {% if forloop.counter|divisibleby:"5" %}<br />{% endif %}
                    {% endif %}
            {% empty %}
                - 
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th colspan="2" class="noborder">XML Configuration:</th>
    </tr>
    <tr>
        <td colspan="2">
            <pre>{{ config.xml }}</pre>
        </td>
    </tr>
</table>


{% endblock %}