{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header_includes %}
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/gateway.cron_form.js"></script>
{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">{{ page_title }}</h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}


<br>
crontab -l command output
<br>

<pre>
{{ status }}
{{ output }}
</pre>

<h2><a href="{% url SeabirdGatewayPortal.views.cron.toggle_default_cron %}">Toggle Default</a></h2>

<hr>
<h2>Manual Set</h2>

<form action="{% url SeabirdGatewayPortal.views.cron.set_cron %}" method=POST>
<textarea name="cronentry" rows="5" cols="500">{{ default }}</textarea>{% csrf_token %}
<br>
<input type=submit value="submit">
</form>

<div class="clear"></div>

<div class="cron_form">
    <form method="post" action="{% url view_cron %}">
        {% csrf_token %}
        
        <div class="cron_hour_label">
            Select the hours you'd like the cron to execute each day:
        </div>
        
        {% if cron_hour_errors %}
        <div class="fielderror" style="padding:5px;">
            {{ cron_hour_errors }}
        </div>
        {% endif %}
        <a href="javascript:void(0);" class="select_all_hours">Select All</a> /
        <a href="javascript:void(0);" class="select_none">Select None</a>
        <br />
        
        {% for cron_hour in cron_hour_choices %}
            <span class="cron_hour_wrapper">
                <label for="id_cron_hours_{{ cron_hour.0 }}">
                    <input type="checkbox" name="cron_hours" value="{{ cron_hour.0 }}" id="id_cron_hours_{{ cron_hour.0 }}" />
                    {{ cron_hour.1 }}
                </label>
            </span>
                {% if forloop.counter|divisibleby:"8" %}
                    <br />
                {% endif %}
        {% endfor %}
        <br />
        <input type="submit" value="Submit">
    </form>
</div>


<br>
<hr><hr><hr>
<h2>Notes:</h2>
Cron entries should look like this (the below is the default and means every 5 mins for the first, and every 30 mins for the second):
<pre>
# m h  dom mon dow   command
*/5 * * * * /var/www/seabird/bin/filemover &> /dev/null
0,30 * * * * wget http://localhost/seabird/api/configuration/bulk/get/ &> /dev/null
</pre>

{% endblock %}
