{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">{{ page_title }}</h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}

Total audio waiting for upload: {{ totaldata }}
<br>
Total logs waiting for upload: {{ totallogs }}
<br>
Total disk usage: {{ diskusage }}
<br>
<hr>
Table shows "number of audio files" / "number of log files" ... divide audio files by 4 to get minutes
<br>

<table border=1>
<tr>
<td>Device</td>
{% for d in dates %}
<td>{{ d }}</td>
{% endfor %}
</tr>
{% for rec in allfiles %}
<tr>
<td>{{ rec.staprn }}</td>
{% for dd in rec.counts %}
{% if not dd.data and not dd.logs %}
<td>0 / 0</td>
{% else %}
<td><a href="{% url view_device_day rec.sta dd.date %}">{{ dd.data }} / {{ dd.logs }}</a></td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>


{% endblock %}

