{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <div class="span-24 last">
        <h2 class="page_header">{{ page_title }}</h2>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}

Total files waiting for upload: {{ totalfiles }}
<br>
Total data size waiting for upload: {{ totaldata }}
<br>
<hr>
Table shows "number of audio files" / "number of log files"
<br>

<table border=1>
<tr>
<td>Device</td>
{% for d in dates %}
<td>{{ d }}</td>
{% endfor %}
</tr>
{% for dev in devdata %}
<tr>
<td><a href="http://seabird.nexleaf.org/seabird/devices/{{ dev.sta }}/show">{{ dev.sta }}</a></td>
{% for dd in dev.daydata %}
<td>{{ dd.audio }} / {{ dd.logs }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>


{% endblock %}

