<!DOCTYPE html>

<html>
<head>
    <title>Gateway Server - {% block title %}{% endblock %}</title>
    <!-- JQuery Libraries and Plugins -->
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery.calendrical.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery.blockUI.js"></script>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/gateway.core.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blueprint/screen.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blueprint/print.css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="/seabird/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
    <!-- Order Matters - certain blueprint styles may be overridden. -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
    
    <style>
        {% block styles %}{% endblock %}
    </style>

    <script type="text/javascript">
        {% block scripts %}{% endblock %}
    </script>
</head>
<body>
    
<div id="wrapper">
<div class="container">
    
    <div class="span-24 last">
        <div class="nexleaf_logo">
            <img src="/seabird/static/images/logo.gif" alt="Nexleaf Analytics">
        </div>
        
        <div class="gateway_header">
            <h1>Wireless Acoustic Monitor</h1>
            <h3>Gateway Server - Tern Island Deployment</h3>
        </div>
    </div>

    <div class="clear"></div>
    
    <!-- NAV -->
    <div class="nav_container">
        <div class="span-3 nav_item">
            <a href="{% url home %}">Home</a>
        </div>

        <div class="span-3 nav_item">
            <a href="{% url show_all_devices %}">Devices</a>
        </div>

        <div class="span-3 nav_item">
            <a href="{% url show_all_configs %}">Configs</a>
        </div>


        <div class="span-3 nav_item">
            <a href="{% url view_incoming %}">In/Out Files</a>
        </div>

        <div class="span-3 nav_item">
            <a href="{% url view_cron %}">Cron Status</a>
        </div>


        <div class="span-3 nav_item">
            <a href="{% url view_rsync %}">Rsync Logs</a>
        </div>


        <div class="span-3 nav_item">
            {% if user.is_authenticated %}
                <a href="{% url auth_logout %}">Logout</a>: {{ user.username }}
            {% else %}
                <a href="{% url auth_login %}">Login</a>
            {% endif %}
        </div>


        <div class="span-3 nav_item">
            <a href="{% url admin:index %}">Admin</a>
        </div>

        <!--
        <div class="span-4 colborder">
        Download (todo)
        </div>
        -->
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    
    {% if messages %}
        <div class="span-24 last">
            {% for message in messages %}
                <div class="message">
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block header %}{% endblock %}

    <div class="span-24 last">
        {% block content %}{% endblock %}
    </div>

</div> <!-- Container -->
</div> <!-- Wrapper -->

</body>
</html>
