<!DOCTYPE html>

<html>
<head>
    <title>Gateway Server - {% block title %}{% endblock %}</title>
    <!-- JQuery Libraries and Plugins -->
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery.calendrical.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery/jquery.blockUI.js"></script>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/gateway.core.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blueprint/screen.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blueprint/print.css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="/seabird/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
    <!-- Order Matters - certain blueprint styles may be overridden. -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
    
    <style>
        {% block styles %}{% endblock %}
    </style>

    <script type="text/javascript">
        {% block scripts %}{% endblock %}
    </script>
</head>

<body>

{% url SeabirdWebPortal.views.home.home as homeurl %}

<div class="container2">

<div class="span-20 left">
    <img src="/seabird/static/images/logo.gif" alt="Nexleaf Analytics">
    Add UCSC Logo too!
    <h1>Wildlife Acoustic Monitor</h1>
</div>

<hr />

<div class="span-3 colborder">
    <a href="{% url home %}">Home</a>
</div>

<div class="span-3 colborder">
    <a href="{% url show_all_devices %}">Devices</a>
</div>

<div class="span-3 colborder">
    <a href="{% url view_incoming %}">In/Out Files</a>
</div>

<div class="span-3 colborder">
    <a href="{% url view_cron %}">Cron Status</a>
</div>


<div class="span-3 colborder">
    <a href="{% url view_rsync %}">Rsync Logs</a>
</div>


<div class="span-3 colborder">
    {% if user.is_authenticated %}
        <a href="{% url auth_logout %}">Logout</a>: {{ user.username }}
    {% else %}
        <a href="{% url auth_login %}">Login</a>
    {% endif %}
</div>


<div class="span-3 colborder">
    <a href="{% url admin:index %}">Admin</a>
</div>

<!--
<div class="span-4 colborder">
Download (todo)
</div>
-->

<hr />

{% block header %}{% endblock %}

<div class="span-24 last">
    {% block content %}{% endblock %}
</div>

</div>
</body>
</html>
