{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

<div class="releases">
    
    <h3>Release 1.1.2 - 07/06/11</h3>
    <ul>
        <li>
            See wiki for more details:
            <a href="http://seabird.nexleaf.org/project/index.php/Server_Software_System#Gateway_Release_1.1.2__-_07.2F06.2F11">
                Gateway Release 1.1.2 - 07/06/11 
            </a>
        </li>
    </ul>
    
    <hr />
    
    <h3>Release 1.1 - 06/24/11</h3>
    <ul>
        <li>
            See wiki for more details (Gateway Server):
            <a href="http://seabird.nexleaf.org/project/index.php/Server_Software_System#Release_1.1__-_06.2F21.2F11">
                Release 1.1 - 06/24/11
            </a>
        </li>
    </ul>
    
</div>

{% endblock %}