table.data_table {border-color: #ccc;border-width: 0 0 1px 1px;border-style: solid;}
table.data_table th, table.data_table td {border-color: #ccc;border-width: 1px 1px 0 0;border-style: solid;vertical-align:top;}
table.data_table tr.highlight td {background:#fffacd;}

table.all_devices {width:800px;}
table.all_devices th {vertical-align:top;}

table.device_table {}
table.device_table th {width:124px;vertical-align:top;padding-right:2px;}
table.device_table th, table.device_table td {vertical-align:top; border-bottom:1px solid #e5e5e5;}

table.config_table {}
table.config_table th {width:120px;}
table.config_table th, table.config_table td {vertical-align:top; border-bottom:1px solid #e5e5e5;}
table.config_table th.noborder {border:none;}


.bulk_update {font-size:1.5em;}
.center {text-align:center;}
.clear {clear:both;}


/* Form Styles */
.form_table {}
.form_table th {text-align:right;vertical-align:top;width:120px;}
.form_table td {text-align:left;vertical-align:top;}
.form_table .errorlist {color:#f00;}
.form_table .xml_textarea {width:700px;}
.form_table input[readonly] {color:#7F7F7F;}
.form_table .help_text {font-size:0.9em;}


/* Releases page */
.releases {}
.releases h3 {margin-bottom:0.4em;}