<h3 class="form_section_header">Recording Schedule(s)</h3>
<p>Use the form below to add recording schedules to your Configuration.  If you don't want to include any recording schedules in this configuration, simply leave this section blank.</p>

{% if recording_formset.non_form_errors %}
    <ul class="error">
        {{ recording_formset.non_form_errors }}
    </ul>
{% endif %}

{{ recording_formset.management_form }}

{% for recording_form in recording_formset.forms %}
    {% if recording_form.non_field_errors %}
        <ul class="error">
            {{recording_form.non_field_errors}}
        </ul>
    {% endif %}
    
    <div class="recording_container">
        <h4 class="form_subsection_header">
            Recording #<span class="recording_number">{{ forloop.counter }}</span>:
        </h4>
        
        {% form_field recording_form.start_date %}
        {% form_field recording_form.end_date %}
        <div class="clear"></div>
        
        {% form_field recording_form.start_time %}
        {% form_field recording_form.end_time %}
        <div class="clear"></div>
        
        {% form_field recording_form.interval_min %}
        {% form_field recording_form.sampling_length_min %}
        <div class="clear"></div>
        
        {# Hidden field for allowing deletion of recording schedules #}
        <input type="hidden" id="id_{{ recording_form.DELETE.html_name }}" name="{{ recording_form.DELETE.html_name }}" value="">
        
        <div class="remove_recording_container{% if forloop.first %} hide{% endif %}">
            <a href="javascript:void(0);" class="remove_recording">-&nbsp;REMOVE&nbsp;-</a>
        </div>
        
    </div>
{% endfor %}

<div class="clear"></div>

<div class="add_recording_container">
    <a href="javascript:void(0);" class="add_recording">+&nbsp;Add Recording Schedule&nbsp;+</a>
</div>

<div class="clear"></div>
<br />